@import "tailwindcss";

@layer base {
	/* Basic resets and defaults */
	html {
		@apply text-blue-950 bg-white;
	}

	body {
		@apply mt-12 font-sans antialiased text-center align-middle;
	}

	input::placeholder {
		@apply text-gray-400;
	}

	button:disabled {
		@apply bg-gray-300  cursor-not-allowed;
	}
	textarea {
		@apply p-2 mb-10 w-full rounded-sm bg-white;
	}
	textarea:focus {
		outline: none;
	}
}
