@import "tailwindcss";

@layer base {
	/* Basic resets and defaults */
	html {
		@apply text-blue-950 bg-white;
	}

	body {
		@apply mt-12 font-sans antialiased text-center align-middle;
	}

	input::placeholder {
		@apply text-gray-400;
	}

	textarea {
		outline: none;
	}
	textarea:focus {
		outline: none;
	}
}
